/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/composer.lock
/package-lock.json
/bootstrap/cache/.gitignore
/storage/logs/.gitignore
/storage/framework/cache/data/.gitignore
/storage/framework/cache/.gitignore
/storage/framework/sessions/.gitignore
/storage/framework/testing/.gitignore
/storage/framework/views/.gitignore
/storage/framework/.gitignore
